* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: cursive;
    background-size: cover;
    background-image: url("../images/background-hero.jpeg");
    min-height: 100vh;
    background-attachment: fixed;
}

#navbar {
    background: linear-gradient(to bottom, #90e0ef, #023e8a);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #caf0f8;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #48cae4, #0077b6);
    border-radius: 20px;
}

#navbar img {
    padding: 24px;
    margin-right: auto;
}

#single-column-layout {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container-1 {
    display: flex;
    justify-content: center;
    border: 6px dotted #caf0f8;
    background-color: #48cae4;
    margin: 24px;
    padding: 24px;
    border-radius: 15px;
    align-items: center;
}

.container-1 img {
    border-radius: 50%;
}

#paragraph-1 {
    margin: 24px;
    text-align: right;
}

.container-2 {
    display: flex;
    justify-content: center;
    border: 6px dotted #caf0f8;
    margin: 24px;
    padding: 24px;
    border-radius: 15px;
    align-items: center;
    background-color: #48cae4;
}

#paragraph-2 {
    margin: 24px;
    text-align: center;
}

#hero-1 {
    background-image: url("../images/flower-design.jpeg");
    min-height: 30vh;
    background-size: cover;
    background-position: 270px center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}

h1 {
    color: #caf0f8;
    font-style: cursive;
    text-align: center;
    background-color: #48cae4;
    border-radius: 6px;
    margin: 24px;
    padding: 24px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    font-style: cursive;
    border: 6px dotted #caf0f8;
}

#hero-1 h1 {
    margin: 24px;
}

#hero-1 a {
    font-size: 15px;
    display: flex;
    background:
        linear-gradient(-50deg, #023e8a, #48cae4, #a7effb)
    ;
    text-decoration: none;
    padding: 10px;
    margin: 12px 70px;
    border-radius: 24px;
}

#hero-1 .button {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 3px solid #48cae4;
    box-shadow: -4px 4px 12px #48cae4bf;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
    margin-bottom: 24px;
}
#hero-1 .button:hover {
    color: white;
}

.spacer {
    height: 24vh;
    background-image: url("../images/emerald-seas.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#contact-card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

#hero-2 h1 {
    background-color: #023e8a;
    padding: 24px;
    color: #caf0f8;
    margin-top: 50px;
    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: -4px 4px 12px white;
    border: 2px solid #caf0f8;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
}

.skills-container {
    display: flex;
}

#grid-layout-1, #grid-layout-2 {
    flex: 1;
    border: 6px dotted #caf0f8;
    background-color: #48cae4;
    margin: 24px;
    margin-top: 5px;
    padding: 24px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    font-style: cursive;
}


#main {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 24px;
    border: 2px solid #caf0f8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -4px 4px 12px white;
    background:
        linear-gradient(-50deg, #023e8a, #48cae4, #a7effb)
    ;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
}
.card h2 {
    font-size: 36px;
    margin-top: 12px;
    text-align: center;
}
.card p {
    font-size: 18px;
    text-align: center;
    flex: 1;
}

.button {
    display: block;
    background-color: lightcyan;
    color: #023e8a;
    text-decoration: none;
    font-weight: initial;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid lightcyan;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
}
.button:hover {
    background-color: transparent;
    color: lightcyan;
}

h3 {
    text-align: center;
    font-style: cursive;
    font-size: 50px;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    padding: 25px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/background-hero.jpeg");
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a:last-child {
        margin-bottom: 24px;
    }
    #navbar img {
        margin-right: 0px;
    }
    .vertical-masonry-gallery {
        columns: 2 auto;
    }
    #hero-1 .button  {
        margin-bottom: 24px;
    }
    #hero-1 {
        align-items: center;
    }
}