body a {
    display: flex;
    text-align: right;
    padding: 24px;
    background-color: aqua;
}

#image-1 {
    display: inline-block;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

#image-2 {
    width: 100px;
}

#paragraph-1 {
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    background: aqua;
    border-radius: 45px;
    padding: 24px;
}
#paragraph-2 {
    text-align: center;
    font-style: italic;
    display: inline-block;
    margin-left: 5px;
}

.frame-1 {
    border: 5px solid rgb(158, 232, 249);
    margin: 15px 0px;
    width: 225px;
    box-shadow: 10px 1px 5px rgba(162, 225, 240, 0.621);
    text-align: center;
}
div {
    text-align: center;
    display: inline-block;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* navbar stlyes*/
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 
        Below is how you can make your navbar follow
        you as you scroll the page. 
    */
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}